/*CSS document*/

body {
	background-color: rgb(245, 245, 245);
	/* Not totally white. */
	color: rgb(50, 50, 50);
	/* Not totally black. */
	line-height: 140%;
	font-family: sans-serif;

}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

h1 {
	width: 3em;
	margin: auto;
}

nav ul li {
	display: inline;
	list-style-type: none;
	text-decoration: none;
	font-family: shippori-mincho, sans-serif;
	font-weight: 700;
	font-style: normal;
}

a {
	text-decoration: none;
}

nav ul li a {
	color: #827F66;
	margin-right: 1em;
}

ul {
	list-style: none;
}

nav ul li a:hover {
	color: #C8A16A;
}

h3 {
	font-family: shippori-mincho, sans-serif;
	font-weight: 800;
	font-style: normal;
	color: #827F66;
}

h2 {
	font-family: shippori-mincho, sans-serif;
	font-weight: 1000;
	font-style: normal;
	color: #FE4646;
}
